{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">Lista de Cursos</h2>
<hr>

<table class="table table-bordered table-hover table-striped">

    <thead class="table-dark">
        <tr>
            <th scope="col"Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">CH</th>
       </tr>
    </thead>
    <tbody>
        
        {% for cursos in cursos %}
        <tr>
            <th scope="row">{{cursos.id}}</th>
            <td>{{cursos.nome}}</td>
            <td>{{cursos.descricao}}</td>
            <td>{{cursos.ch}}</td>
        </tr>
        {% endfor %}
        
    </tbody>    
</table>
{% endblock conteudo %}